/* Code icon */
@keyframes icon-code {
  0% {
    transform: translate(90vw, 6vh) rotate(30deg);
  }

  25% {
    transform: translate(92vw, 30vh) rotate(60deg);
  }

  50% {
    transform: translate(88vw, 70vh) rotate(90deg);
  }

  75% {
    transform: translate(90vw, 50vh) rotate(120deg);
  }

  100% {
    transform: translate(92vw, 10vh) rotate(180deg);
  }
}

/* Laptop icon */
@keyframes icon-laptop {
  0% {
    transform: translate(10vw, 90vh) rotate(0deg);
  }

  25% {
    transform: translate(5vw, 70vh) rotate(180deg);
  }

  50% {
    transform: translate(8vw, 40vh) rotate(270deg);
  }

  75% {
    transform: translate(5vw, 60vh) rotate(360deg);
  }

  100% {
    transform: translate(10vw, 90vh) rotate(450deg);
  }
}

/* Terminal icon */
@keyframes icon-terminal {
  0% {
    transform: translate(5vw, 5vh) rotate(45deg);
  }

  25% {
    transform: translate(2vw, 25vh) rotate(90deg);
  }

  50% {
    transform: translate(10vw, 5vh) rotate(135deg);
  }

  75% {
    transform: translate(20vw, 2vh) rotate(180deg);
  }

  100% {
    transform: translate(5vw, 10vh) rotate(225deg);
  }
}

/* Calendar icon */
@keyframes icon-calender {
  0% {
    transform: translate(45vw, 90vh) rotate(30deg);
  }

  25% {
    transform: translate(60vw, 90vh) rotate(60deg);
  }

  50% {
    transform: translate(50vw, 88vh) rotate(120deg);
  }

  75% {
    transform: translate(40vw, 90vh) rotate(180deg);
  }

  100% {
    transform: translate(60vw, 90vh) rotate(260deg);
  }
}

/* Alarm icon */
@keyframes icon-alarm {
  0% {
    transform: translate(50vw, 1vh) rotate(0deg);
  }

  25% {
    transform: translate(70vw, 3vh) rotate(90deg);
  }

  50% {
    transform: translate(90vw, 5vh) rotate(135deg);
  }

  75% {
    transform: translate(70vw, 3vh) rotate(180deg);
  }

  100% {
    transform: translate(50vw, 1vh) rotate(225deg);
  }
}