.icon-style{
    padding: 12px;
    border-radius: var(--radius);
    border-width: 1px;
}

.p-3 rounded-lg border hover:bg-sidebar:hover{
    --tw-bg-opacity: 1;
    /* border-color: hsl(var(--muted)); */
    background-color: rgb(244 244 245 / var(--tw-bg-opacity))
}