li {
    list-style: none;
    padding: 10px;
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
