html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    will-change: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    outline: none;
    color: #18181b;
    will-change: auto !important;
    backface-visibility: hidden !important;
}

p,
label,
input,
textarea,
select,
option {
    font-size: 14.5px;
}

h1 {
    font-size: 16.5px;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 100px;
    border: 6px solid transparent;
    background-clip: padding-box;
    cursor: pointer;
}

.dark ::-webkit-scrollbar-thumb {
    background: #18181b;
    border-radius: 100px;
    border: 6px solid transparent;
    background-clip: padding-box;
    cursor: pointer;
}

div,
img,
h1,
p,
input,
button,
h2,
label {
    outline: none;
    -webkit-user-drag: none;
    user-select: none;
}

/* Calender */
/* Main */
.fc .fc-scrollgrid {
    border-radius: 10px;
    overflow: hidden;
}

/*  */
.fc-scrollgrid .fc-scrollgrid-liquid {
    border-radius: 10px;
}

.fc-event {
    border-radius: 0px;
}

.fc-daygrid-day-events {
    margin-top: 0px;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(var(--border));
}

.fc-col-header-cell-cushion {
    font-weight: 500;
    font-size: 16px;
}

.dark .fc-col-header-cell-cushion {
    color: #eeeeee;
}

.fc-daygrid-day-number {
    font-size: 16px;
}

.dark .fc-daygrid-day-number {
    color: #eeeeee;
}

.dotted-bg {
    background-color: white; /* Light mode background */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 15px 15px;
}

.dark .dotted-bg {
    background-color: black; /* Dark mode background */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
}
