@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scrollbar-width: none;
}

body{
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
    scrollbar-width: none;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
    background: #dcdcdc;
    border-radius: 200px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #dcdcdc; 
}

div, img, h1, p {
    outline: none; 
    -webkit-user-drag: none; 
    user-select: none; 
}