@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: none;
}

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Comfortaa', sans-serif;
    background-color: white;
    font-size: 14px;
    transition: 'all 0.3s ease-in-out'
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 200px;
    border: 6px solid transparent;
    background-clip: padding-box;
    cursor: pointer;
}

div,
img,
h1,
p,
input,
button,
h2,
label {
    outline: none;
    -webkit-user-drag: none;
    user-select: none;
}